html, body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    height: 100px;
    z-index: 100;
}

nav a{
    text-transform: uppercase;
}

.nav-item .active {
    color: var(--bs-primary) !important;
}

.nav-item img{
    width: 2em;
    margin-left: 1em;
    padding-top: 5px;
    filter: grayscale();
    transition: all 0.5s;
}

#mobileMenu{
    padding: 2em;
    margin-top: 2em;
}

.nav-item img:hover {
    filter: none;
}

        @keyframes swap-image {
            0% {
                background: url("./assets/img/banner.jpg");
            }
    
            33% {
                background: url("./assets/img/banner-3.jpg");
            }
    
            66% {
                background: url("./assets/img/banner-2.jpg");
            }
            100% {
                background: url("./assets/img/banner.jpg");
            }
        }
    
        #hero {
            height: 70vh;
            -webkit-animation: swap-image 15s infinite normal;
            animation: swap-image 15s infinite normal;
            background-size: cover !important;
            background-repeat: no-repeat !important;
            background-position: bottom !important;
        }

#hero .container{
    position: relative;
 
    height: 100%;
}

#hero h1 {
    color: aliceblue;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6) !important;
        font-size: 48px;
            font-weight: 700;
            letter-spacing: 0.08em;
}

#news{
    margin-bottom: 4em;
}

#news .container-fluid{
    height: 20vh;
}

#thaiNews{
    background-color: var(--bs-secondary);
    
}

#thaiNews .carousel-item{
    height: var(--thaiNewCarH);
}

@media screen and (max-width: 576px ) {
    
    #hero h1 {
        color: aliceblue;
        text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6) !important;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.08em;
    }
    
    #thaiNews .carousel-item{
        height: unset;
    }

    #thaiNews h2{
        font-size: 1em;
        margin-top: 1em;
    }
    #thaiNews .carousel-item{

        padding: 4em;
    }
    
}

#sponsors{
    margin: 2em 0 2em 0;
}

.accordion ul{
    list-style: none;
}


#sponsors .cardTitles{
    min-height: 6em;
}
#sponsors .logoContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#sponsors .card-footer h6{
    margin-top: 1em;
    margin-bottom: 1em;
    
}

.card-footer hr {
    color: rgb(255, 0, 0);
    margin-top: 2em;
}

.sponsorSocial ul{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
    margin: 1em 0 1em 0;
    padding-left: 0px;
}

    
    

/*========================================
Footer
========================================*/

footer{
    min-height: 250px;
    background-color: #dcdcdc;
        color: #fff;
            padding: 40px 0;
}
footer h5{
        color: #fff;
        font-size: small;
        transition: all 0.5s;
}
footer h5:hover{
        color: black;
       
}

footer a{
    text-decoration: none;
}

footer hr {
    margin: 40px 0;
}

footer img {
    width: 50px;
}

footer ul {
    padding: 0;
}

footer li {
    display: inline-block;
}

footer li a {
    font-size: 20px;
    padding: 12px;
    color: #fff;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

footer li a:hover,
footer li a:focus,
footer li a:active {
    color: #496174;
}