.carouselFullWith{
    background-color: rgb(210, 207, 207);
    padding: 2em;


}

.text{
    display: flex;
    align-content: center;
    
    

    h2{
        margin-top: 2em;
        display: flex;
        font-size: large;
    }
    button{
        text-align: center;
        
    }

}