.carouselFullWith{
    background-color: rgb(210, 207, 207);
    padding: 2em;
    video{
        width: 100%;
    }
}

.setInner{
    height: 312px;
}

.text{
    display: flex;
    align-content: center;
    
    

    h2{
        margin-top: 2em;
        display: flex;
        font-size: large;
    }
    button{
        text-align: center;
        
    }

}

@media (max-width: 576px) { 
    .carouselFullWith{
        height: 85vh; 
       video{
        margin-top: 2em;
        height: auto;
        width: 100%;
       }

    }

    .setInner{
    height: unset;
    }    
    .text{
        button{

            
        }

    }




}
 