$frameHeigth: 60vh;

.festivalMuayThai {
  background-color: #f9f9f9;
  margin: 0px;
  padding: 0px;
  position: relative;
}

.heroVideoBanner {
  min-height: $frameHeigth;
  max-height: $frameHeigth;
  height: $frameHeigth;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin: 0px;
}

.videoContainer {
  padding: 0px;
  margin: 0px;
  height: 100%;
  width: 100vw;
  position: absolute;
}

.overVideo {
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  // img {
  //   height: 33%;
  //   border: 1px solid yellowgreen;
  // }
}

.subTitle {
  text-align: center;
  margin: 4em 0 2em 0;
  img {
    height: 7em;
  }
}

.homeImage {
  padding: 0px;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%);
  }
}
